/* NAVBAR */

.navbar {
  width: 100%;
  padding: 15px 20px;
   background: #000c1a;
   color: hsl(0, 0%, 100%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200; 
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  margin-left: 40px;
  font-family: "Momo Trust Display", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

/* Desktop Menu */
.nav-links {
  display: flex;
  gap: 30px;
  margin-right: 100px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  position: relative;
  color: #fff;
}

.underline {
  width: 0;
  height: 2px;
  position: absolute;
  background: #ff5c5c;
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

/* Hamburger (Mobile) */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 50px;
  z-index: 250;
}

.bar {
  width: 28px;
  height: 3px;
  background: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.rotate1 {
  transform: rotate(45deg) translate(5px, 6px);
}
.rotate2 {
  transform: rotate(-45deg) translate(6px, -6px);
}
.hide {
  opacity: 0;
}

/* Mobile Menu */
.mobile-menu {
  width: 100%;
  background: white;
  overflow: hidden;
  position: absolute;
  top: 70px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  height: 0;
  z-index: 150 !important;
}

.mobile-menu a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  padding: 10px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .nav-links {
    display: none !important; /* Force hide menu on mobile */
  }

  .hamburger {
    display: flex !important; /* Force show hamburger */
  }

  .navbar {
    padding: 15px 20px; /* Reduce padding for mobile */
  }
}
