/* NAVBAR */
.navbar {
  width: 90vw;
  padding: 15px 50px;
  background: #0f1a24;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* LOGO */
.logo {
  font-size: 26px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

/* DESKTOP MENU */
.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

.nav-links li a {
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  position: relative;
}

.underline {
  width: 0;
  height: 2px;
  background: #ff5c5c;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.nav-links li a:hover .underline {
  width: 100%;
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
}

.bar {
  width: 28px;
  height: 3px;
  background: #fff;
  transition: 0.4s ease;
}

/* Hamburger Animation */
.rotate1 {
  transform: rotate(45deg) translate(6px, 6px);
}
.rotate2 {
  transform: rotate(-45deg) translate(6px, -6px);
}
.hide {
  opacity: 0;
}

/* MOBILE MENU */
.mobile-menu {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  background: #0f1a24;
  overflow: hidden;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  z-index: 150;
  padding-top: 10px;
}

.mobile-menu a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  padding: 12px 0;
  width: 100%;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .hamburger {
    display: flex;
  }

  .navbar {
    padding: 15px 25px;
  }
}

@media (max-width: 500px) {
  .logo {
    font-size: 22px;
  }

  .hamburger .bar {
    width: 24px;
  }
}
